@import "if";
@import "bucle";
@import "each";
@import "map";
@import "extend";
@import "mixin";
//VARIABLES
// antes era una declaracion y una definicion :root{--nombreVariable:valor;}
// $declaracionVariable:valor;
$black:black;
$white:white;
$f-size-p-desktop:20px;
$f-size-p-mobile:18px;
$grid:grid;
$auto:auto ;
$full-width:100%;
.grid{
    display: $grid;
    grid-template-columns: $full-width;
    grid-template-rows: repeat(3,$auto);
    grid-template-areas: 
    "header"
    "main"
    "footer";
    header{grid-area: header;}
    main{grid-area: main;}
    footer{grid-area: footer;}
}
//NESTING
header{
    background-color:$white;
    .nav{
        padding: 20px;
        margin: 10px;
        ul{
            list-style-type: none;
            li{
                padding: 10px;
                a{
                    text-decoration: none;
                    font-size: 20px;
                    color: $black;
                    transition: 1s all;
                    //font: {
                    //size: 20px;
                    // family:tahoma;
                    //   weight:normal;
                    // }
                    &:hover{
                        background-color:$black;
                        border-radius: 20px;
                        color: $white;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:768px){
    h1{font-size: 3rem;}
}